<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<h4>Our purpose: inform people who don't understand the topic and provide resources for women/minorities who face challenges in their field. </h4>
<h5>Interactivity description: </h5>
<li>Providing resources - links to STEM opportunities, such as organizations so it is easier to find</li>
<li>Learning/Education - teach people and share data/info about the topic (statistics, reasoning for why this problem occurred, etc.) </li>
 

<p>Version 1.01</p>
<p>Release Notes: added author blurbs and images for about us page. Included short description for the purpose of website. Describe interactivity for users.</p>

{% endblock %}